<!DOCTYPE kpartgui>
<kpartgui name="kdevhga" version="0.1">
<MenuBar>
	<Menu name="file">
		<Action name="openFile"/>
		<Separator/>
		<Action name="closeFile"/>
		<Separator/>
		<Action name="importProject"/>
		<Separator/>
		<Action name="applicationQuit"/>
	</Menu>
	<Menu name="heuristic_menu"><text>He&amp;uristic</text>
		<Action name="heuristic_ff"/>
		<Separator/>
		<Action name="heuristic_next"/>
		<Separator/>
		<Action name="heuristic_run"/>
	</Menu>
	<Menu name="GA_menu"><text>&amp;GA</text>
		<Action name="ga_init"/>
		<Separator/>
		<Action name="ga_start"/>
		<Action name="ga_pause"/>
	</Menu>
	<Menu name="window"><text>&amp;Window</text>
		<Action name="window_closeall"/>
		<Separator/>
		<Action name="window_tile" />
		<Action name="window_cascade"/>
	</Menu>	
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
	<Action name="applicationQuit"/>
</ToolBar>
</kpartgui>